<div class="card bg-white shadow-md rounded-md p-6 h-10rem flex items-center flex-row justify-center overflow-x-auto gap-4" style="width: 30rem;">
  <% (0..7).each do %>
    <%= render 'story/story' %>
  <% end %>
</div>
