/* Ensure Tailwind directives are at the top */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
  }
  body {
    height: 100%;
    background-color: #fafafa;
  }
}

@layer components {
  .home-sections {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Use shorthand for margin */
  }

  .images-section {
    display: none;
  }

  .card-img-top {
    max-width: 50%;
    align-self: center;
  }

  /* Adjusting scrollbar hide */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .nav-icon {
    @apply md:text-2xl block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500;
  }
}

@layer utilities {
  [data-carousel-item] {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
  }

  /* Adjusting block */
  [data-carousel-item].block {
    opacity: 1;
  }
}
